*
{
    padding: 0;
    margin: 0;
}

.container
{
    background-image: url(Images/Sky_Kingdom\ upscaled.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    text-align: center;
    max-width: 100%;
    max-height: auto;
}

.Descflex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Desc
{
    text-align: center;
    border: 1px solid;
    max-width: fit-content;
    position: relative;
    background-color: white;
}

.flextext
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container
{
    text-align:center;
    color: red;
    font-family: 'Albertus';
    text-decoration: black;
    font-size: 25px;
    padding: 10px;
    background-color: white;
    border: 1px solid;
    max-width: fit-content;
    margin: 25px;
    border-color: black;
}

.text-container2
{
    text-align: right;
    position: absolute;
    bottom: 0;
    top: 98%;
    color: white;
}

.Divpre
{
    text-align: center;
    color: gray;
    margin-top: 10px;
    display: block;
    border: 1px solid;
    background-color: white;
}

.Prelude
{
    display: flex;
    background-color: var(--primaryColor);
    justify-content: space-around;
    flex-wrap: wrap;
}

.Divact1
{
    text-align: center;
    color: blue;
    display: block;
    border: 1px solid;
    background-color: white;
}

.Act1
{
    display: flex;
    background-color: var(--primaryColor);
    justify-content: space-around;
    flex-wrap: wrap;
}

.Chapters
{
    color: black;
    background-color: var(--secondaryColor);
    border: 2px solid;
    height: 200px;
    width: 150px;
    margin: 20px;
    min-height: 200px;
    text-align: center;
    background-color: white;
    transition: 1s ease;
    border-radius: 10px;
    text-decoration: none;
}

.Chapters:hover
{
    color: green;
    transform: scale(1.1);
    background-color: aquamarine;
}

@font-face 
{
    font-family: 'Albertus';
    src: url(AlbertusMTStd.otf),
    url(AlbertusMTStdItalic.otf),
    url(AlbertusMTStdLight.otf);
    font-weight: 100%;
}

img
{
    max-width: 100%;
    max-height: auto;
}
