*
{
    padding: 0;
    margin: 0;
}

.topbar
{
    background-color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border: 1px solid;
}

.topbarcon
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.navigator
{
    display: inline-block;
    border: 1px solid;
    border-color: black;
    width: 75px;
    height: 18px;
    color: black;
    margin: 8px;
    padding: 5px;
    justify-content: center;
    border-radius: 20px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    left: 46.38%;
}

.navigator .fa-circle-arrow-left
{
    color: black;
    transition: 0.8s ease;
}

.navigator .fa-circle-arrow-left:hover
{
    color: aquamarine;
    transform: scale(1.5);
}

.navigator .fa-house
{
    color: black;
    transition: 0.8s ease;
}

.navigator .fa-house:hover
{
    color: aquamarine;
    transform: scale(1.5);
}

.navigator .fa-circle-arrow-right
{
    color: black;
    transition: 0.8s ease;
}

.navigator .fa-circle-arrow-right:hover
{
    color: aquamarine;
    transform: scale(1.5);
}

.toc
{
    position: fixed;
    display: inline-block;
    z-index: 11;
    margin: 15px;
    border: 1px solid;
    padding: 5px;
    top: 0%;
    background-color: white;
    transition: 100ms;
    cursor: default;
}

.toc:hover
{
    transform: scale(1.01);
}

.toctext
{
    display: none;
}

.toc:hover .toctext
{
    display: table;
}

.container
{
    left: 46%;
    position: relative;
    font-family: 'Albertus', sans-serif;
    margin-top: 5%;
}

.textcon
{
    display: block;
    align-items: center;
    top: 0%;
}

.text
{
    display: block;
    width: 30%;
    position: relative;
    left: 35%;
}

.next
{
    display: flex;
    position: relative;
    margin-top: 2%;
    border: 1px solid;
    margin-bottom: 25px;
    padding: 30px;
    width: 200px;
    text-align: center;
    border-radius: 25px;
    color: black;
    background-color: rgb(28, 184, 28);
    transition: 0.8s;
    text-decoration: none;
    justify-content: center; 
    align-items: center;
    left: 43%;
}

.next:hover
{
    transform: scale(1.05);
    background-color: lightgreen;
    text-decoration: none;
}

@font-face 
{
    font-family: 'Albertus';
    src: url(AlbertusMTStd.otf);
    font-weight: 100%;
}

p
{
    margin-top: 1em;
    margin-bottom: 1em;
}